*{
  padding: 0%;
  margin: 0%;
}
body {
  font-family: "lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}
/* header section css starts*/
.header-section {
  display: flex;
  align-items: center;

  

  justify-content: center;
  background: rgba(229, 84, 115, 0.1);
  height: 600px;
}
.header-title {
  color: #272727;
  font-size: 100px;
  font-weight: 800;
  padding-top: 100px;
}
/* .img-div{ */
  /* width: 50%;
} */
.down-color {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.span{
  width: 400px;
}
.header-img {
 
   width: 100%; 

  background-repeat: no-repeat;
  background-position: bottom right;
}
.primary-btn {
  color: white;
  display: inline-flex;
  padding: 20px 43px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: #e55473;
  border: 0;
}
/*feature section styles starts*/
.feature{
display: flex ;
justify-content: center;

}
.feature-heading{
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.feature-div{
  margin: 50px 10px;
}
.feature-para{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
.feature-row-img{
  display: flex;
  gap: 15PX;
  justify-content: center;
}

.feature-img{
 
  width: 310px;

  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  padding-top: 30PX  ;
  padding-bottom: 0%;
  display: flex;
  justify-content: center;
  
 
}
.img{
  width: 80%;
}

.feature-text{
  display: inline;
color: #272727;
text-align: center;
font-size: 18px;
font-weight: 700;
line-height: 35px;
gap: 30px;
text-decoration-line: underline;
}
/* same-day section styles strats*/
.same-day{
width: 1440px;
height: 180px;
border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
display: flex;
justify-content: center;
align-items: center;
margin: auto;


}
 

.same-day-img{
width: 33.33%;
padding: 5px;

}
.same-day{
  display: flex;
  width: 70%;
  margin:40px auto;
  padding-left: 120px;
  
}


.hot-deal{


border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
display: flex;
justify-content: center;
align-items: center;
padding: 30px 0px;
}
.hot-deal-text{
  text-align: center;
  padding: 0px 50px;
 
}
.hot-heding{
  font-size: 34px;
}
.hot-deal-img{
  justify-content:center;
margin-left: 40px;
  align-items: center;
 
 
}
.highlight{
  color: #e55473;
}
.img-hot{
  width: 80%;
}
/* instagram section styles starts*/
.instagram{
  /* width: 1920px; */
  /* height: 4867px; */
}
.instragram-text{
width: 50%;
margin: auto;
text-align: center;
padding-bottom: 40px;
padding-top: 80px;
}
.instagram-heading{

}
.instagram-img{
  display: flex;
  width: 80%;
  margin: auto;
  gap: 15px;
  
.ins-img{
 width: 25%;
 border-radius: 5px;
}
.get{
  background-image: url("../asset/Rectangle 9.png");
  background-size: cover;
  background-repeat: no-repeat;
}